body {
    background-image: url(/exo/css-repeat/koala.png);
    background-repeat: repeat;
    background-size: 5em;
}
main {
    display:flex;
    justify-content: center;
}
h1 {
    color: red;
    font-size: 10em;
    padding: 30px 80px;
    background-color: white;
}